
<form class="form-horizontal" ng-submit="submitShop()" ng-controller="saveUserController">

	 <div class="form-group">
        <label for="username1" class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label" translate="USER_NAME_TEXT"></label>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <input type="text" class="form-control" required ng-model="username" id="username1"  placeholder="{{'USER_NAME_TEXT' | translate}}">
        </div>
    </div>
	<div class="form-group">
        <label for="password1" class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label" translate="PASSWORD_TEXT"></label>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <input type="password" class="form-control" required ng-model="password" id="password1"  placeholder="{{'PASSWORD_TEXT' | translate}}">
        </div>
    </div>
	
	<div class="form-group">
        <label for="email1" class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label" translate="EMAIL_TEXT"></label>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <input type="email" class="form-control" required ng-model="email" id="email1"  placeholder="{{'EMAIL_TEXT' | translate}}">
        </div>
    </div>
	
	<div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label">{{'ROLE_TEXT' | translate}}</label>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <select class="form-control" ng-model="role"  ng-options='role.name for role in roles' required></select>
        </div>
    </div>
	
<div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" id="submit" class="btn btn-primary">{{'SAVE_USER_TEXT' | translate}}</button>
        </div>
    </div>
</form>