<!DOCTYPE html>
<html class="" lang="en" ng-app="myApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	
	<script src="assets/js/bootstrap.js"></script>
    

    <script src="js/angular.js"></script>
	<script src="js/angular-sanitize.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="js/angular-translate.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/translation.js"></script>
	<script src="js/navigation.js"></script>
	<script src="js/angular-dragdrop.js"></script>
	
	<script src="components/users/userController.js"></script>
	<script src="components/users/userListController.js"></script>
	<script src="components/pages/pageController.js"></script>
	<script src="components/pages/pageListController.js"></script>
	<script src="components/login/loginController.js"></script>
	
	<script src="components/templates/left-navigationController.js"></script>
	<script src="components/templates/navController.js"></script>
	
	<script src="js/services.js"></script>
	
</head>

<body>
<div class="container">

  <div class="row">
  <!-- header div  -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-include="'components/templates/header.html'"></div>
  
  <!-- navigation div  -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-include="'components/templates/nav.html'"></div>
  
 <!-- left lateral navigation div  -->
 <div ng-show="!authService.isLoggedIn()">
	<div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-include="'components/templates/left-navigation.html'"></div>
 </div>
  <!-- default view  -->
 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" ng-cloak ng-view></div>
 
 <div class="row-fluid col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-controller="oneCtrl" ng-cloak>
	 <ul class="thumbnails">
	 <li class="span3" style='margin-left:10px;'>
		<div class="thumbnail" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
	  </li>
	</ul>
 </div>
  
  <!-- footer div  -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-include="'components/templates/footer.html'"></div>

</div>
</div>

</body>

</html>k