
<form class="form-horizontal" ng-submit="submitShop()" ng-controller="saveShopController">
<div class="form-group">
        <label for="nameshop1" class="col-sm-2 control-label">Shop name</label>
        <div class="col-sm-2">
            <input type="text" class="form-control"  required ng-model="nameShop" id="nameshop1" placeholder="Shop name">
        </div>
    </div>
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submitShop" class="btn btn-primary">Save shop</button>
        </div>
    </div>
</form>

<form  class="form-horizontal" ng-submit="submit()" ng-controller="saveProductController">
    <div class="form-group">
        <label for="product1" class="col-sm-2 control-label">Product name</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" required ng-model="nameProduct" id="product1" placeholder="Product name">
        </div>
    </div>

    <div class="form-group">
        <label for="buydate1" class="col-sm-2 control-label">Buy Date</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" required ng-model="date" id="buydate1" placeholder="dd-MM-yyyy">
        </div>
    </div>

    <div class="form-group">
        <label for="price1" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" required ng-model="price" id="price1" placeholder="Price">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Shop</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="shop"  ng-options='shop.name for shop in shops' required></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" class="btn btn-primary">Save Product</button>
        </div>
    </div>
</form>

<div id="rest" class="container-fluid" ng-controller="rest">
    <table height="15px" class="table table-condensed table-bordered table-hover table-striped">
        <tr>
            <td class="info">
                Product
            </td>
        </tr>
        <tr ng-repeat="module in products">

            <td class="info">
                {{module.name}}
            </td>

            <td ng-repeat="col in module.shopList">
                {{col.name}}

                <select ng-model="selected.value" ng-options='pp.total as (  (pp.date | date:"dd/MM/yyyy") + ", "+ pp.price) for pp in col.productAttr'></select>

            </td>

        </tr>
    </table>
</div>
