<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Keemono</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
   
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{'CHOOSE_TEXT' | translate}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#login">{{'LOGIN_TEXT' | translate}}</a></li>
                  
                  <li class="divider"></li>
                  <li class="dropdown-header">Advanced</li>

                  <li><a href="#">Administration</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div> <!-- /container -->