 <div ng-controller="urlController">
   <ul  class="nav nav-pills nav-stacked">
   <!--
        <li ng-repeat="url in urls">
            <a href="#/{{url.name}}">{{url.description}}</a>
        </li>
	-->	
		<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{'USER_ADMIN_TEXT' | translate}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#user">{{'SAVE_USER_TEXT' | translate}}</a></li>
                  <li><a href="#userList">{{'USER_LIST_TEXT' | translate}}</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
        </li>
		
		<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{'PAGE_ADMIN_TEXT' | translate}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#page">{{'SAVE_PAGE_TEXT' | translate}}</a></li>
                  <li><a href="#pageList">{{'PAGE_LIST_TEXT' | translate}}</a></li>
                  <li class="divider"></li>
                </ul>
        </li>
		
    </ul>
  </div>